<% @userCampaigns.each do |c| %>
	<div class="col-sm-3 campaign">
		<%= link_to "", "/campaigns/" + c.id.to_s, class: "campaign_link" %>
		<% @campaign = c %>
		<%= render partial: 'campaigns/campaignSmall' %>
	</div>
<% end %>