<h1>Profile</h1>
<h3>
<%= @user.name %>
<% if @user.id == session[:user_id]%>
<%= link_to "edit", edit_user_path(@user) %>
<% end %>
</h3>

<div class="col-xs-6">Profile image here</div>
<div class="col-xs-6">User created: <%= @user.created_at.strftime("%B %d, %Y") %></div>

