<!DOCTYPE html>
<html>
<head>
   <title>Profectus</title>
</head>
<body>

   <%= image_tag "banner.png", id: "banner" %>

   <div id="newsTab">
      <ul class="nav nav-tabs">
         <li class="active"><a href="#info-tab" data-toggle="tab">Top Projects<i class="fa"></i></a></li>
         <li><a href="#address-tab" data-toggle="tab">News<i class="fa"></i></a></li>
      </ul>
   </div>

   <div id="donations">
      <p id="donated">Donated so far: 54974$</p>
      <a type="button" class="btn btn-default" id="donate">1UP</a>
   </div>

</body>
</html>