<!-- <html>
<body> -->

<head>
	<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>

<div style="background-color:#F7F7F7;">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center" style="height: 200px;">
                  <h1 style="margin-top: 50px; height:100px; color:#385559; font-family:'Bitter';">thePodium.io</h1>
                  <!-- Vector podium -->
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="" pageAlignment="none" x="0px" y="0px" width="220px" height="74px" viewBox="0 0 220 74" enable-background="new 0 0 220 74" xml:space="preserve" bodyBackgroundColor="rgba(255,255,255,0)"><defs/><g type="LAYER" name="workspace" id="workspace" locked="true"/><g type="LAYER" name="Layer 01" id="Layer 01"><path transform="matrix(1 1.2246467991473532e-16 1.2246467991473532e-16 -1 72.00691708718156 72)" width="70.00000000000001" height="69.99999999999999" stroke-width="4" stroke-miterlimit="3" stroke="rgb(0, 0, 0)" fill="none" d="M-0.006917087181648185,0 L69.99308291281837,0 L69.99308291281837,69.99999999999999 L-0.006917087181648185,69.99999999999999 L-0.006917087181648185,0 Z "/><path transform="matrix(1 1.2246467991473532e-16 1.2246467991473532e-16 -1 2.0069170871816198 71.99999999999996)" width="70" height="45.00000000000002" stroke-width="4" stroke-miterlimit="3" stroke="#000000" fill="none" d="M-0.006917087181673054,-2.842170943040401e-14 L69.99308291281832,-2.842170943040401e-14 L69.99308291281832,44.99999999999999 L-0.006917087181673054,44.99999999999999 L-0.006917087181673054,-2.842170943040401e-14 Z "/><path transform="matrix(1 1.2246467991473532e-16 1.2246467991473532e-16 -1 142.0069170871817 72.00000000000003)" width="69.99999999999997" height="29.999999999999986" stroke-width="4" stroke-miterlimit="3" stroke="#000000" fill="none" d="M-0.006917087181761872,1.4210854715202004e-14 L69.99308291281821,1.4210854715202004e-14 L69.99308291281821,30 L-0.006917087181761872,30 L-0.006917087181761872,1.4210854715202004e-14 Z "/></g></svg>
              </div>
          </div>
      </div>

    <!-- Page Content -->
    <div class="container" style="margin-top: 100px;margin-bottom: 100px;">

    	<div class="col-xs-6 text-right">
    		<h2 style="font-family: 'Bitter';">The Top 3 Crowdfunds every Week!</h2>
    		<p>Our <b>voting</b> system makes a <b>democratic</b> pick of the most important <b>crowdfunding campaigns</b> both simple and fun!</p>
    	</div>

    	<div class="col-xs-6 text-left">
    		<h2 style="font-family: 'Bitter';">Open Beta Now.</h2>
    		<p>We would love to have you join in on our BETA-testing. If you would like to give it a try, given it's current state of development, please register an account. We are currently only offering registration through Facebook.</p>
    		<a class="btn orange" href="/auth/facebook">Register with Facebook</a>
    	</div>
</div>

<!-- </html>
</body>