<%= stylesheet_link_tag "news" %>

<div class="text-center">
	<%= render partial: 'front_news' %>
</div>

<div class="text-center" >
	<button id="prev" class="glyphicon glyphicon-menu-left" aria-hidden="true"></button>
	<button id="next" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button>
</div>