

<% Category.all.each do |c| %>
	

	<div class="col-xs-3 categories">
		<%#= link_to "", "/projects/" + p.id.to_s, class: "project_link" %>
		
		<div>
		
			<button type="button"><h4><%= c.name %></h4></button>
		
		</div>
	</div>
<% end %>