<%= javascript_include_tag "projects" %>

<div id="categories">
	
</div>
<div class="col-sm-3">
	<div id="search">
	<form action="">
		<input type="text" name="searchText">
		<input type="submit" value="Search">
	</form>
	</div>
</div>

<div class="col-sm-9" id="projects">
<%= render partial: 'projectList', locals: { page: 1, projectsPerPage: 5 } %>
</div>

<div id="pageSelector">
	<span id="prev" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	<span id="next" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</div>