<div id="categories">
	
</div>
<div class="col-xs-3">
	<div id="search">
	<form action="">
		<input type="text" name="searchText">
		<input type="submit" value="Search">
	</form>
	</div>
</div>

<div class="col-xs-9" id="projects">
	<% @projects.each do |p| %>
	<div class="project">
		<%= link_to "", "/projects/" + p.id.to_s, class: "project_link" %>
		<div>
			<div class="image_container">
				<%= image_tag p.logoLink, class: "logo img-responsive" %>
			</div>
			<h3><%= p.title %></h3>
			<p><%= p.description %></p>
		</div>
	</div>
	<% end %>
</div>