<!DOCTYPE html>
<html>
<head>
	<title>Profectus</title>
	<%= javascript_include_tag 'projects' %>
</head>
<body>

	<div id="categories">

	</div>

	<div id="search">

	</div>

	<div id="projects">

	</div>

</body>
</html>
