<h1 class="header text-center">About Us</h1>
<div class="container text-center">
<iframe width="700" height="450" src="https://www.youtube.com/embed/LivdCjbYKdY" frameborder="0" allowfullscreen></iframe>
</div>
<p>
Podium is the first cross-platform aggregator for crowdfunding campaigns – democratically sorting out the three best daily submissions. Crowdfunding has become a popular way of financing projects and thousands of new crowdfunding campaigns are launched across numerous platforms every day without any signs of slowing down. This makes it difficult for people to sort out good campaigns without spending hours on research. Podium uses crowdsourcing to spread the research workload across our active users – drastically reducing the time each person have to spend. Our platform is completely user driven and democratic and each day our user base crowns the top three campaigns – cutting the crap and favouring quality over quantity.
</p>
<h3 id="vision"> Our Vision </h2>
<p>
To let the people filter and promote crowdfunding campaigns that changes the world.
</p>
<hr>
<h3 id="mission"> Our Mission </h2>
<p>
To generate a podium of the top three daily cross-platform crowdfunding campaigns.
</p>
<hr>