<% i = 0 %>
<% @campaignVoting.each do |c| %>
	<div class="col-xs-3 campaign-container">
		<div class="text-center vote-star" id="<%= i %>">
			<a role="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			</a>
		</div>
		<div class="campaign-vote" id="<%= i %>">
			<% i += 1 %>
			<div class="text-center">
				<h4><%= c.title %></h4>
				<div class="image-vote-container">
					<%= image_tag c.image, class: "logo img-responsive" %>
				</div>
			</div>
		</div>
	</div>
<% end %>