<%= javascript_include_tag "editCampaign" %>


<div class="text-center" id="notice"><%= sanitize notice %></div>

<div class="container">
	<h1>Edit Campaign</h1>

	<%= render 'campaignForm' %>
</div>
