<%= javascript_include_tag "campaigns" %>

<%= link_to 'Back', campaigns_path %>
<div class="text-center" id="notice"><%= sanitize notice %></div>

<h1>Adding Campaign</h1>

<%= render 'campaignForm' %>