// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-center {
	margin-left: -230px;
	position: relative;
	left: 50%;
}

.news {
	margin: 10px;
	border: 1px solid black;
	width: 100%;
}