/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require social-share-button
 * require bootstrap-material-design
 * require_tree . removed because of bourbon, instead import all -> see below
 */


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$grid-float-breakpoint : 1000px;
@import "bootstrap-sprockets";
@import "bootstrap";

// @import "compass";
@import "bourbon";
@import "home";
@import "users";
@import "campaigns";
@import "admin";
@import "about";
@import "posts";

// Global color variables
$gray: #F7F7F7;
$green: #385559;
$green-light: #58878d;
$orange: #F05000;
$orange-light: #ff884d;
$orange-dark: #CB4400;

html, body{ 
	height:100%;
  margin: 0px;
}

img {
  max-width: 100%;
}

hr {
  padding: 0;
  margin: 0;
}

// div { // for debugging
//   border: dashed 1px red;
// }

.help-border {
  border: dashed 1px red;
}

// Same height boostrap columns
// .row{
//     overflow: hidden; 
// }
// [class*="col-"]{
//     margin-bottom: -99999px;
//     padding-bottom: 99999px;
// }

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.disabled {
  cursor: default !important;
}

.btn[disabled] {
  cursor:default !important;
}

.selected {
  background: linear-gradient(to bottom right, #AAAAAA, #999999) !important;
  border-radius: 5px;
}

.page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F6F5F2;
}
.btn {
  border-radius: 2px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

#menu {
	float: right;
}

#home {
	float: left;
}

#menubar {
	height: 35px;
}

#content {
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
//   padding-bottom: 30px;
  // overflow-y: scroll;
  // margin-bottom: 100px;
  // min-height: 600px;
  // border-bottom-style: solid;
  // border-bottom-color: $gray;
  // border-bottom-width: 5px;
}

// @media (min-height: 1000px) {
//   #content{
//     height: 1000px;
//   }
// }

#footer {
  border-radius: 0px;
}

.footer-share {
  margin-top: 30px;
}

.notification-container {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  height: 75px;
  padding: 2px;
  z-index: 3;
  position: absolute;
  top: 50px;
}

#notifications {
  border: 1px solid #ddd;
  // width: 500px;
  // height: 70px;
  background-color: #d6e9c6;
  overflow: hidden;
  // margin-left: auto;
  // margin-right: auto;
}

.addition {
  min-width: 60px;
}

.addition-main {
  margin-bottom: 0;
  color:$gray;
  max-height: 21px;
  font-size: 20px;
  padding: 0 !important;
  a {
    color: $gray;
  }
}

.addition-circle {
  margin-top: 2px !important;
  font-size: 9px;
  color: $gray;
}

.nav-score {
  min-width: 90px;
  padding-right: 8px;
  padding-left: 8px;
}

.nav-user {
  a {
    min-width: 100px;
    padding:0 !important;
    margin-top: 15px;
  }
}

.navbar{
  .col-xs-4 {
    width: 33% !important;
  }
}

.profile-pic {
  // display: block;
  max-width: 30px !important;
  max-height: 30px !important;
  width: auto;
  height: auto;
}

#navbar-pic {
  margin-top: -100%;
  margin-bottom: -100%;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  // height: 100px;
  // width: 100px;
}

.my-submissions {
  margin: 0px;
}

// Navbar

// .navbar {
//   display: inline-block;
//   * {
//     float:left;
//   }
// }

.navbar-text > a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #385559;
  border-color: #273638;
  border-bottom-color: $gray;
  border-bottom-width: 5px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f7f7f7;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f7f7f7;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #385559;
  border-radius: 2px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f7f7f7;
  background-color: #273638;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #385559;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f7f7f7;
  background-color: #273638;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f7f7f7;
  background-color: #273638;
}
.navbar-default .navbar-toggle {
  border:none;
  color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #273638;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
  border-radius: 0px;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #f7f7f7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f7f7f7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f7f7f7;
    background-color: #273638;
  }


}

@media screen and (max-width: 1000px) {
  .navbar-left {
    display: inline-block;
    width: 100%;
  }

  .nav-browse {
    float: left;
    width: 50% !important;
  }

  .nav-about {
    float: left;
    width: 50% !important;
  }

}

.navbar-right {
  margin-right: 0 !important;
}

#navbar-counter {
  width: 17%;
  position: absolute;
  padding-top: 5px;
  height: 50px;
  // z-index: -1;
  margin-right: 41.5%;
  margin-left: 41.5%;
}

#navbar-counter2 {
  width: 33%;
  padding-top: 5px;
  height: 50px;
  position: absolute;
  left: 33%;
}

#navbar-toggle {
  margin-right: 0;
}

#counter {
  color: #ecf0f1 !important;
  text-decoration: none !important;
  h5 small {
    color:white;
  }
}

#user-notifications {
  position: absolute;
  z-index: 2;
  left: -50px;
  margin: 1px;
  height: 400px;
  width: 400px;
  display: none;
  overflow: auto;
  background-color: white;
  border: 1px solid #385559;
}

#notification-container {
  width: 375px;
}

.user-notification {
  border-top: 1px solid #385559;
  height: 50px;
}

.user-notification > #icon {
  height: 40px;
  width: 40px;
  margin: 5px;
  float: left;
}

.user-notification > #icon > img {
  height: 100%;
  width: 100%;
}

.user-notification > #text > h5 {
  margin-top: 2px;
}

.notification-link {
  cursor: pointer;
}

#nav-notifications {
  cursor: pointer;
}
