/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./global
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html, body{ 
	height:100%;
}

button {
  background: linear-gradient(to bottom right, #FFFFFF, #BBBBBB) !important;
  border-radius: 5px;
}

.selected {
  background: linear-gradient(to bottom right, #AAAAAA, #999999) !important;
  border-radius: 5px;
}

.page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F6F5F2;
}

#menu {
	float: right;
}

#home {
	float: left;
}

#menubar {
	height: 35px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -150px;
  /* Pad bottom by footer height */
  padding: 0 0 150px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 150px;
  background-color: #414141;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

#footer a, #footer a:hover{
	background-color: #414141;
}

#footer ul, #footer li{
	list-style-type: none;
}