// Place all the styles related to the campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-buffer {
	margin-top: 20px;
}

.border-around {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#social_media {
	margin: 5px;
}

#categories {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 35px;
	padding-left: 30px;
	height: 180px;
}

.catButton {
	width: 120px !important;
	min-height: 50px !important;
	margin-bottom: 10px;
}

//Causes the catagory sites with no projects to have a simmilar look to those who have it.
.noCampaign {
	margin-top: 200px;
	margin-bottom: 200px;
	text-align: center;
}

#searchBar {
	height: 30px;
	width: 100%;
	padding: 0 25px 0 25px;
}

#filter {
	width: 140px;
}

//Makes disabled buttons 50% transgendered
#pageSelector button:disabled{
	opacity: .5;
}

.image_container {
	margin-bottom: 10px;
	float: left;
}

.image_container img {
	max-width: 100%;
	max-height: 100%;
	width: 250px;
  margin: 10px;
}

.campaign_link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none; 
    z-index: 10;
    opacity: 0;
}

.campaign_link:link {
	color: #363632;
}

.campaign_link:visited {
	color: #363632;
}

.campaign_link:hover {
	color: #363632;
}

#campaigns, #winners {
	margin: 14px;
	margin-top: 5px;
}

.campaign {
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	/*border: 1px solid #ddd;*/
	min-width: 250px;
	max-width: 250px;
	height: 260px;
}

.campaign-container {
	padding: 0px;
	margin: 10px;
	min-width: 250px;
	max-width: 250px;
}

.campaign-box {
	margin-top: -5px;
}

/*#winners > div:nth-child(even) > div.campaign > div{
	background-color: #F7F7F7;
}*/

/*#winners > div:nth-child(odd) > div.campaign > div{
	background-color: white;
}*/

#winner_container .campaign-box {
	background-color: #F7F7F7;
}

.campaign-box > h4 {
	height: 260px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.campaign-container .text-center h3 {
	margin-left: 0px;
}

.winner-campaign {
	padding: 10px;
	background-color: transparent;
	border: 1px solid #ddd;
	height: 400px;
}

#first_place {
	/*text-align: center;*/
}
#second_place {
	/*text-align: left;*/
}
#third_place {
	/*text-align: right;*/
}

// Add Campaign
#preview {
	margin: 10px 0px 10px 0px;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	width: 100%;
}

#preview {
	border-radius: 0px;
	padding-left: 0px;
}

#preview > div.image_container {
	margin: 5px;
}

#campaign_link {
	border-radius: 0px;
}

// Campaign Site
.main_campaign {
	margin: 10px 0px 10px 0px;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 0px;
	width: 100%;
	padding: 10px;
}

#campaign > div > div.image_container > img {
	margin-right: 10px;
}


/*.main_campaign {
	margin: 10px 0px 10px 0px;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 100%;
}

.main_campaign .image_container {
	height: 250px;
}*/