// Place all the styles related to the campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Global color variables
$gray: #F7F7F7;
$green: #385559;
// @import "compass";
// @import "compass/css3/transition";
// @import "compass/css3/transform";

@mixin shadow($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

.top-buffer {
	margin-top: 20px;
}

.border-around {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#social_media {
	// margin: 5px;
}

#categories {
	margin-top: 10px;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	height: 50px;
}

.catButton {
	width: 120px !important;
	min-height: 50px !important;
	margin-bottom: 10px;
}

.campaign-list > div > .campaign-box {
	background: #F7F7F7;
}

.campaign-list {
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
}

@media(min-width: 1300px){
	.campaign-list {
		width: 1300px;
	}
}

//Causes the category sites with no projects to have a similar look to those who have it.
.noCampaign {
	margin-top: 200px;
	margin-bottom: 200px;
	text-align: center;
}

#searchBar {
	height: 30px;
	// width: 100%;
	padding: 0 25px 0 25px;
}

#filter {
	width: 140px;
}

//Makes disabled buttons 50% transgendered
#pageSelector button:disabled{
	opacity: .5;
}

// .image_container {
// 	width: 250px;
//   height: 187px;
// 	margin-bottom: 10px;
// 	float: left;
// }

.image_container img {
	// max-width: 100%;
	// max-height: 100%;
	// width: 250px;
 //  margin: 10px;
  position: absolute;
  clip: rect(0px,250px,187px,0px);
}

.clip {
  clip: rect(0px,250px,187px,0px);
}

#campaign-title {
	padding-top: 190px;//20px;
	margin-bottom: 10px;
}

#campaign-title-main {
	padding-top: 20px;
	margin-bottom: 10px;
}

#vote-img:focus {
	filter: blur(5px);
}

.campaign_link {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 316px;
	top: 0;
	left: 0;
	text-decoration: none; 
    z-index: 10;
    opacity: 0;
}

.campaign_link:link {
	color: #363632;
}

.campaign_link:visited {
	color: #363632;
}

.campaign_link:hover {
	color: #363632;
}

@media (min-width: 900px) {
	.winners {
	  width: 878px;
	  padding-left: 0px;
	  padding-right: 0px;
	  height: 520px;
	}

	#first_place {
		margin-top:0px; 
		border-bottom: 466px solid lightgrey;
		margin-left: 0.5px !important;
		margin-right: 0.5px !important;
	}

	#second_place {
		margin-top: 50px; 
		border-bottom: 416px solid lightgrey;
		margin-right: 0.5px !important;
		margin-left: 63px;
		float: left !important;
	}

	#third_place {
		margin-top: 100px;
		border-bottom: 366px solid lightgrey;
		margin-left: 0.5px !important;
		margin-right: 63px !important;
		float: right !important;
	}

	.leaderboards {
	  width: 878px;
	  padding-left: 0px;
	  padding-right: 0px;
	}
}

.placing-info {
	min-height: 50px;
}

.campaign {
	margin: 20px;
	margin-right: 20px !important;
	padding: 0px;
	background-color: transparent;
	/*border: 1px solid #ddd;*/
	min-width: 250px;
	max-width: 250px;
	height: 316px;
	vertical-align: top;
	@include shadow(1);
}

.campaign-container {
	// border:0px;
	// padding: 0px;
	margin-top: 10px;
	// min-width: 250px;
	// max-width: 250px;
}

//  {
//     position:relative;
//     display:inline-block;
//     text-align:center;
//     border:1px solid red;
//     /* background:url('http://jsfiddle.net/img/initializing.png') no-repeat;
//     width:186px;
//     height:157px;*/
// }


.continue-button {
	padding-top: 2px;
	position: absolute;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 40px;
  top: 60%;
  left: 25px;
  z-index: 2;
}

.campaign-vote {
	border: 0px;
	width: 250px;
	cursor: hand;
	cursor: pointer;
	min-width: 250px;
  max-width: 250px;
  height: 316px;
  margin-top: 10px;
}

/*#winners > div:nth-child(even) > div.campaign > div{
	background-color: #F7F7F7;
}*/

/*#winners > div:nth-child(odd) > div.campaign > div{
	background-color: white;
}*/


.campaign-box > h4 {
	// background-color: $gray;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  height: 44px;
  text-align: left;
}

.campaign-box {
	background-color: #fcfcfc;
	width: 250px;
	height: 316px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.box-content-pitch {
	margin-top: 5px;
	margin-bottom: 3px;
	padding: 0px;
	text-align: left;
	height: 52px;
	padding-left: 3px;
	padding-right: 3px;
	text-overflow: ellipsis;
	overflow: hidden;
	// background: url(quote.png) no-repeat;
}

.box-content-icon {
	margin-left: 2px;
	margin-right: 2px;	
	margin-top: 10px;
	max-width: 27px;
	max-height: 27px;
	padding: 0px;
}

.campaign-container .text-center h3 {
	margin-left: 0px;
}

// .winner-campaign {
// 	padding: 10px;
// 	background-color: transparent;
// 	border: 1px solid #ddd;
// 	height: 400px;
// }

// Podium ...
#first_place {
	/*text-align: center;*/
}
#second_place {
	/*text-align: left;*/
}
#third_place {
	/*text-align: right;*/
}

// Add Campaign
#preview {
	margin: 10px 0px 10px 0px;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	width: 100%;
}

#preview {
	border-radius: 2px;
	padding: 5px;
}

#campaign-img {
	min-height: 187px;
}

// #preview > div.image_container {
// 	margin: 5px;
// }

#campaign_link {
	border-radius: 2px;
}

// Campaign Site
// #background-blur {
// 	position: fixed;
//   left: 0;
//   right: 0;
//   z-index: -1;
//   display: block;
//   -webkit-filter: blur(5px);
//   -moz-filter: blur(5px);
//   -o-filter: blur(5px);
//   -ms-filter: blur(5px);
//   filter: blur(5px);
// }

#background-blur {
	background-color: $gray;
	position: absolute;
  z-index: -1;
  width: 110%;//100vw;
  max-width: 99.6vw;
  height: 250px;
  
  overflow: hidden;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  margin: -5px -10px -5px -10px;
  margin-top: -80px;
  // transform: scale(1.1);
}

#background-blur::after {
	border-bottom-style: solid; 
	border-bottom-width: 3px;
	border-bottom-color: black;
}

#bottom-block {
	// height: 350px;
	position: absolute;
	border-top-style: solid; 
	border-top-width: 3px;
	border-top-color: #385559;
	margin-top: 167px;
	height: 212px;
	background-color: white;//$gray;
	width: 100%;
	z-index: -1;
}

#campaign-content {
  z-index: 1000;
  // z-index: 0;
}

.main-campaign {
	margin: 40px 0px 10px 0px;
	background-color: #FFFFFF;
	border: 1px solid rgba(255,255,255,0.5);//#ddd;
	border-radius: 2px;
	// max-width: 900px;
	padding: 0px;
	-moz-box-shadow:    0px 0px 1px 1px #FFFFFF;
  -webkit-box-shadow: 0px 0px 1px 1px #FFFFFF;
  box-shadow:         0px 0px 1px 1px #FFFFFF;
}

// .container {
//   max-width: 970px;
// }

#campaign > div > div.image_container > img {
	margin-right: 10px;
	border-radius: 2px;
}

#goto-site-button {
	padding-left: 0px;
}

#nominate-button {
	margin-top: 20px;
}

#star-button {
	margin-top: 20px;
}

#edit > #report_link {
  padding-right: 10px;
}

#star {
	padding-top: 2px;
	border-width: 0px;
	max-height: 34px;
}

#edit {
	margin-top: 20px;
	padding-right: 0px;
}

#campaign-info-box {
	text-align: center;
	// border: 1px solid #fcfcfc;
	background-color: rgba(247,247,247,0.7);
	// opacity: 0.5;
	// margin: 5px;
	padding: 5px;
}

#info-box-group {
	min-height: 159px;
	padding-top: 113px;
}

.main-campaign-image {
	width: 27%;
	padding: 0px;
	margin-bottom: 30px;
	-moz-box-shadow:    0px 0px 1px 1px #385559;
  -webkit-box-shadow: 0px 0px 1px 1px #385559;
  box-shadow:         0px 0px 1px 1px #385559;
}

.crowdfunding-site-logo {
	// @include transition(all 100ms);
	max-height: 50px;//100px;
	max-width: 100px;
	opacity: .5;
	&:hover {
		opacity: 1;
	}
}

/*.main_campaign {
	margin: 10px 0px 10px 0px;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 100%;
}

.main_campaign .image_container {
	height: 250px;
}*/

// Step-indicator ----------------


.reroll-close {
	margin-left: auto;
	margin-right: auto;
	width: 63%;	
	font-size: large;
}

.close-voting {
	text-align: right;
}

.step-indicator {
	// margin-top: 5px;
	// margin-right: auto;
	// margin-left: auto;
	// float: none;
	// width: 63%;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

div.start-step,
div.step,
div.end-step,
div.current-step,
div.current-start-step, 
div.current-end-step {
  display: inline-block;
  // font-size: 22px;
  margin-top: 9px;
  position: relative;
  width: 120px;
}

div.start-step:before,
div.start-step:after,
div.step:before,
div.step:after,
div.end-step:before,
div.end-step:after,
div.current-start-step:before,
div.current-start-step:after,
div.current-step:before,
div.current-step:after,
div.current-end-step:before,
div.current-end-step:after {
  content: "";
  border-style: solid;
  border-width: 0;
  height: 0;
  position: absolute;
  width: 0;
}

div.start-step,
div.step,
div.end-step {
  background-color: $gray;
  color: black;
  margin-left: 25px;
  margin-right: 25px;
}

div.current-start-step,
div.start-step{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

div.current-end-step,
div.end-step{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
div.current-step {
  background-color: $green;
  color: white;
  margin-top: 0px;
  margin-left: 36px;
  margin-right: 36px;
  line-height: 38px;
}

div.current-step:after,
div.current-step:before {
  border-width: 19px 0 19px 19px;
}

div.current-step:before {
  border-color: $green transparent; 
  left: -19px;
}

div.current-step:after {
  border-color: transparent $green;
  right: -19px;
}

// -----------------------------

div.step:after,
div.step:before {
  border-width: 10px 0 10px 10px;
}

div.step:before {
  border-color: $gray transparent; 
  left: -10px;
}

div.step:after {
  border-color: transparent $gray;
  right: -10px;
}

// ------------------------------

div.start-step:after,
div.step:before {
  border-width: 10px 0 10px 10px;
}

div.start-step:before {
  border-color: $gray transparent;
}

div.start-step:after {
  border-color: transparent $gray;
  right: -10px;
}

// ------------------------------

div.end-step:after,
div.end-step:before {
  border-width: 10px 0 10px 10px;
}

div.end-step:before {
  border-color: $gray transparent; 
  left: -10px;
}

div.end-step:after {
  border-color: transparent $gray;
}

// -------------------------------

.start-step{
	margin-left: 0px !important;
}

div.current-start-step {
  background-color: $green;
  color: white;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 44px;
  line-height: 38px;
}

div.current-start-step:after,
div.current-start-step:before {
  border-width: 19px 0 19px 19px;
}

div.current-start-step:before {
  border-color: $green transparent;
  left: 3px;
}

div.current-start-step:after {
  border-color: transparent $green;
  right: -19px;
}

// --------------------------------

.end-step {
	margin-right: 0px !important;
}

div.current-end-step {
  background-color: $green;
  color: white;
  margin-top: 0px;
  margin-left: 44px;
  margin-right: 0px;
  line-height: 38px;
}

div.current-end-step:after,
div.current-end-step:before {
  border-width: 19px 0 19px 19px;
}

div.current-end-step:before {
  border-color: $green transparent; 
  left: -19px;
}

div.current-end-step:after {
  border-color: transparent $green;
}

// Down-arrow

.down-arrow {
	//display: inline-block;
	position: relative;
	background: $gray;
	//padding: 15px 0;
	//width: 200px;
	text-align: center;
}
.down-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	z-index: -1;
	left: 25px;
	top: 90%;
	width: 0;
	height: 0;
	border-top: 50px solid $gray;
	border-right: 100px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 100px solid transparent;
}

// Vote star
.vote-star {
	width: 250px;
	margin-bottom: 10px;
	margin-bottom: 10px;
}

.vote-star-button {
	vertical-align: top;
	padding-top: 0px;
	font-size: x-large;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: lightgray;
	border-radius: 2px;
	border-width: 0px;
	width: 75px;
	height: 31px;
}

.vote-star-button:active {
	background-color: #F05000;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-color: #E54C00;
}

.vote-star-button.active {
	background-color: #F05000;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.darken {
	background-color: gray;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.darken:after {
	border-top-color: gray;
}

.bigform-content {
    border: solid 5px #DDD;
    margin: 30px 20px;
    overflow: hidden;
    padding:20px;
    position:relative;
}
.modal, .modal-backdrop {
    position: absolute !important;
}
.bigform-content h1 {
    margin:0;
}
.bigform-content input[type=submit] {
    margin-top:10px;
}

.star-finished {
	color: #F05000;
}

.star-finished-win {
	color: #F05000;
}

.campaign-display-all{
	padding-top: 130px;
}


/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * the blur parameter has to be doubled.
 *
 * Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
 *
 * Example usage:
 *
 * .card {
 *     width: 95px;
 *     height: 95px;
 *     background: #f4f4f4;
 *     -webkit-transition: all 250ms;
 *     -moz-transition: all 250ms;
 *     transition: all 250ms;
 *     .BoxShadowHelper(1);
 *     &:hover {
 *         .BoxShadowHelper(3);
 *         -webkit-transform: translateY(-5px);
 *         -moz-transform: translateY(-5px);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */

// .BoxShadowHelper(@level: 1){
//     & when (@level = 1) {
//         box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//     }
//     & when (@level = 2) {
//         box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
//     }
//     & when (@level = 3) {
//         box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//     }
//     & when (@level = 4) {
//         box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//     }
//     & when (@level = 5) {
//         box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
//     }
// }

//Campaign-view 3.0

#external-content {
	max-width: 800px;
	// border-style: solid;
	// border-radius: 2px;
	// border-bottom-width: 3px;
	// border-bottom-color: #385559;
}






a {
  // Because why not?
  cursor:pointer;
}

@media (max-width: 400px) {
	.sheets {
		width: 100%;
	}
}

@media (min-width: 1300px) {
	.sheets{
		margin-left: 30%;
		width: 70%;
	}
}

.sheets {
	// pointer-events: none;
	height: 100%;
	margin-left: 32%;
	width: 68%;
	padding-top: 83px;
	padding-left: 5px;
	position: absolute;
	// top: 0; // 50px;
	bottom: 0;
	right: 0;
	overflow: auto;
	top:55px;
}

.sheet1 {
	position: absolute;
	z-index: 5;
}
.sheet2 {
	position: absolute;
	z-index: 5;
}

#comment-section {

}

#content-section {
}

.card {
	// height:100%;
	margin-bottom: 100px;
	pointer-events: all;
  // overflow: auto;
	// left: 5px;
  top: 83px;
  display:block;
  background: #f4f4f4;
  padding:1rem;
  @include transition(all 250ms);
  @include shadow(1);
  // &:hover {
  //   @include shadow(3);
  //   @include transform(translateY(-5px));
  //   z-index: 1006;
  //   left: 0px;
  //   .sheet1{left: 1000px;}
  // }
  // &:hover { //Distraction free mode?
  //   height: 100vh;
  //   width: 100vw;

  // }
}

.distraction-free {

}

.sheet-link {
	position: absolute;
	z-index: inherit;
	height: 100%;
  width: 102%;
  top: -3px;
  left: -3px;
}

div:target {
	@include shadow(2);
	@include transform(translateY(50px));
	// left: 0px;
  // .sheet1{left: 1000px;}
  // left: 40px;
  // top: 0;
  z-index: 6;
}

.fab {
	border-radius: 50% !important;
	@include shadow(2);
	// &:hover {
	// 	@include shadow(3);
	// }
}

//vars
$fg: $green;//#00bcd4;
$bg: $green;//#673ab7;
$pi:3.14;

//config
$menu-items:4;
$open-distance:105px;
$opening-angle:$pi*3;

%goo{
  filter:url('#shadowed-goo');
  // debug 
  //background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border-radius:100%;
  width:45px;
  height:45px;
  margin-left:-40px;
  position:absolute;
  top:95px;
  color:white;
  text-align:center;
  line-height:45px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
}
.hamburger{
  $width:17px;
  $height:2px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;
}
$hamburger-spacing:5px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg); 
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg); 
  }
}
.menu{
  @extend %goo;
  $width:150px;
  $height:650px;
  z-index: 100;
  position:fixed;
  right: 30px;
  top: 100px;
  margin-left:-80px;
  padding-top:20px;
  padding-left:80px;
  width:$width;
  height:$height;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
}


.menu-item{
  &:hover{
  	border-width: 1px;
  	border-style: solid;
  	border-color: $bg;
    background:$gray;
    color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:180ms;
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(100ms*$i);
      transform:translate3d(0,75px*$i,0);
    }
  }
}



/* Ribbon thingy */

#ribbon {
	width: 50px;
	height: 100px;
	margin: 0 auto 0;
	position: relative;
	overflow: hidden;
	padding: 0;
	color: white;
}

#ribbon .inset {
	width: 34px;
	height: 20px;
	position: absolute;
	top: -18px;
	left: 8px;
	z-index: 5;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	background: rgba(0,0,0,0.3);
	
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

#ribbon .container {
	top: -40px;
	position: relative;
	width: 10px;
	height: 75px;
	overflow: hidden;
	margin: 0 auto;
	border-left: 1px solid #631a15;
	border-right: 1px solid #631a15;
	@include transition(all 250ms);
	&:hover {
		top: 0 !important;
	}
}

#ribbon .base {
	width: 30px;
	height: 60px;
	
	background: rgb(199,59,60);
	background: -moz-linear-gradient(top,  rgba(199,59,60,1) 0%, rgba(184,32,31,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,59,60,1)), color-stop(100%,rgba(184,32,31,1)));
	background: -webkit-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
	background: -o-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
	background: -ms-linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
	background: linear-gradient(top,  rgba(199,59,60,1) 0%,rgba(184,32,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c73b3c', endColorstr='#b8201f',GradientType=0 );

	position: relative;
	z-index: 2;
	left:-15px;

	padding: 2px;
	padding-top: 36px;
}

#ribbon .left_corner {
	width: 100px;
	height: 100px;
	background: #b8201f;
	position: absolute;
	bottom: 20px;
	left: -50px;
	z-index: 1;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#ribbon .right_corner {
	width: 100px;
	height: 100px;
	background: #b8201f;
	position: absolute;
	bottom: 20px;
	right: -50px;
	z-index: 1;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.white {
	color: white;
	padding: 0;
}