// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	margin-top: 20px;
	margin-bottom: 60px;
}

.header-brand-text {
	font-size: 60px;
	text-align: center;
}

.header-donate-text {
	font-size: 40px;
	text-align: center;
}

#donate {
	width: 200px;
	height: 50px;
}

.news {
	margin-top: 10px;
	margin-bottom: 10px;
}

.news .text_container {
	margin-right: auto;
	margin-left: auto;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 425px;
}

.news .text_container .edit {
	margin-top: 5px;
	margin-right: 5px;
	float: right;
	position: absolute;
	left: 700px;
}

.news .text_container p {
	word-wrap: break-word;
}