// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 300px;
}

#newsTab, #donated {
	float: left;
}

#donations, #donate {
	float: right;
}