// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 300px;
}

#tabs, #donated {
	float: left;
}

#donations, #donate {
	float: right;
}

#my-tab-content, #tabs {
	width: 100%;
}

.news {
	margin: 10px;
	border: 1px solid black;
	width: 100%;
}