// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news {
	margin: 10px;
	width: 100%;
}

.news .text_container {
	margin-right: auto;
	margin-left: auto;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 425px;
}

.news .text_container h2, .news .text_container h5 {
	text-align: center;
}

.news .text_container p {
	word-wrap: break-word;
}

#pageSelector {
	height: 40px;
	width: 84px;
	position: relative;
	left: 50%;
	margin-left: -42px;
}