// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news {
	margin-top: 10px;
	margin-bottom: 10px;
}

.news .text_container {
	margin-right: auto;
	margin-left: auto;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 425px;
}

.news .text_container p {
	word-wrap: break-word;
}