// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_topic {
	margin: 10px;
	border: 1px solid black;
	width: 100%;
}

.post {
	margin: 10px;
	border: 1px solid black;
	width: 100%;
}

.vote_container {
	width: 75px;
	height: 100px;
	float: left;
	margin-top: 15px;
}

.vote_container p {
	margin: 2px;
	position: relative;
	left: 50%;
}

.vote_container button {
	position: relative;
	left: 38%;
}

.image_container {
	width: 80px;
	height: 80px;
	float: left;
	margin-top: 10px;
}

.image_container img {
	max-width: 100%;
	max-height: 100%;
}

.post_up_vote[disabled]{
	color: green;
}

.post_down_vote[disabled]{
	color:red;
}

.up_vote[disabled]{
	color: green;
}

.down_vote[disabled]{
	color:red;
}