// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic {
	margin-bottom: 10px;
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 100%;
	min-height: 100px;
}

.vote_container {
	width: 75px;
	height: 100px;
	float: left;
}

.vote_container p {
	margin: 2px;
	position: relative;
	left: 50%;
}

.vote_container button {
	position: relative;
	left: 38%;
}

.image_container {
	width: 80px;
	height: 80px;
	float: left;
	margin-top: -1px;
}

.image_container img {
	max-width: 100%;
	max-height: 100%;
}

.topic_link {
	position: absolute;
	width: 92.5%;
	height: 100%;
	top: 0;
	left: 7.5%;
	text-decoration: none; 
    z-index: 1;
    opacity: 0;
}

.topic_link:link {
	color: #363632;
}

.topic_link:visited {
	color: #363632;
}

.topic_link:hover {
	color: #363632;
}

.up_vote[disabled]{
	color: green;
}

.down_vote[disabled]{
	color:red;
}